
* {
	margin:0;
	padding:0;
}

ul {
  font-size: large;
  font-weight: bold;
  padding: 30px;
  overflow: hidden;
  background-color: #48aaf9;
  list-style-type: none;
}

li a {
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(238, 137, 36);
}


.cover {
  padding-top: 50px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  color: white;
}

.img {
  width: 450px;
}

.textbox {
  font-size: large;
  background-color: rgb(240, 164, 59);
  display: flex;
  width: 500px;
  padding: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-family: 'Trebuchet MS';
  border-radius: 10px;
  align-items: center;
}

body {
  background-color: rgb(255, 229, 203);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #48aaf9;
  text-align: center;
  width: 100%;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: none;
  background-color: orange;
}
