* {
	margin:0;
	padding:0;	
}

ul {
  font-size: large;
  font-weight: bold;
  padding: 30px;
  overflow: hidden;
  background-color: #48aaf9;
  list-style-type: none;
}

li a {
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(238, 137, 36);
}
  
body {
  background-image: url(../img/mehalftone.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 300%;
  background-color: rgba(125, 122, 118, 0.2);  
}

.pinterest{
  text-decoration-line: underline;
  padding-top: 10px;
  margin-left: 30px;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  color: red;
  text-transform: uppercase;
}

h2 {
  font-family: 'Trebuchet MS';
}

img {
  width: 250px;
  margin: 5px;
  border-radius: 10px;
}

.textbox {
  background-color: aliceblue;
  margin: auto;
  width: 600px;
  font-size: large;
  text-align: left;
  font-family: 'Trebuchet MS';
  border-radius: 10px;
  padding: 20px;
  height: 200px;
}

.igsect {
  color: purple;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pinterestsect {
  margin: auto;
  color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pinterestsect2 {
  color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}
.nails, .fash, .ig {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-end;
}

footer {
  background-color: #48aaf9;
  text-align: center;
  width: 100%;
  padding: 20px;
}

footer a {
  color: white; 
  text-decoration: none; 
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  padding: 14px 16px;
}

footer a:hover {
  text-decoration: none;
  background-color: orange; 
}