
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

ul {
  font-size: large;
  font-weight: bold;
  padding: 30px;
  overflow: hidden;
  background-color: #48aaf9;
  list-style-type: none;
}

li a {
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(238, 137, 36);
}

body {
  background-color: rgb(255, 229, 203);
}

h1.ig{
  padding-top: 20px;
  margin-left: 30px;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  color: rgb(147, 12, 135);
  text-transform: uppercase;
}

h1.pinterest{
  padding-top: 10px;
  margin-left: 30px;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  color: red;
  text-transform: uppercase;
}

h2 {
  font-family: 'Trebuchet MS';
}

p {
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'Trebuchet MS';
  border-radius: 10px;
  padding: 10px;
}

img {
  width: 250px;
  margin: 5px;
  border-radius: 10px;
}

.textbox {
  margin-left: 30px;
  width: 600px;
  font-size: large;
}

.igsect {
  color: purple;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pinterestsect {
  color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pinterestsect2 {
  color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nails, .fash, .ig {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-end;
}


footer {
  background-color: #48aaf9;
  text-align: center;
  width: 100%;
  padding: 20px;
}

footer a {
  color: white; 
  text-decoration: none; 
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  padding: 14px 16px;
}

footer a:hover {
  text-decoration: none;
  background-color: orange; 
}