* {
  margin: 0;
  padding: 0;
}

ul {
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: #48aaf9;
  list-style-type: none;
}

li a {
  display: inline;
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(238, 137, 36);
}

body {
  background-image: url(../img/mehalftone.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 300%;
  background-color: rgba(125, 122, 118, 0.2);
}


.fbm {
  text-decoration-line: underline;
  color: blue;
  padding-top: 20px;
  text-align: left;
  margin-left: 30px;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
}


.dpop {
  text-decoration-line: underline;
  color: red;
  text-align: left;
  margin-left: 30px;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
}

h2 {
  font-family: 'Trebuchet MS';
}

img {
  width: 350px;
  margin: 5px;
  border-radius: 10px;
}

.fb,
.depop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.depop{
  color: rgb(199, 24, 24);
}

.fb{
  color: rgb(24, 24, 190);
}

.textbox {
  background-color: aliceblue;
  margin-left: 30px;
  margin: auto;
  width: 600px;
  font-size: large;
  text-align: left;
  font-family: 'Trebuchet MS';
  border-radius: 10px;
  padding: 20px;
  height: 295px;
}

.depopimg,
.fbimg {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  background-color: #48aaf9;
  text-align: center;
  width: 100%;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  padding: 14px 16px;
}

footer a:hover {
  text-decoration: none;
  background-color: orange;
}